*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

#Test Files
Static/StaticTest/Source
Static/StaticTest/Report
Frontier/
EndToEndDemo/frontier.json
EndToEndDemo/Source
EndToEndDemo/*.db
SDLCIntegration.Web.Internal/frontier.json
SDLCIntegration.Web.Internal/DownloadTemp/*
SDLCIntegration.Web.Internal/*.db
SDLCIntegration.Web.Internal/Logs/
SDLCIntegration.Web.Internal/Logs/*.txt
SDLCIntegration.Web.Internal/log-*.txt
SDLCIntegration.Web.Internal/Database/
SDLCIntegration.Web.Internal/ImportFile.json
SDLCIntegration.Web.Intranet/Database/*.db
SDLCIntegration.Web.Intranet/Logs/
SDLCIntegration.Web.Portal/Database/*.db
SDLCIntegration.Web.Portal/Logs/
Util/ConfigImporter/*.db
Util/ReportExporter/Output/
Data/DataTest/*.db
Source/SourceTest/Source/
removed_files
.pumafile
*/getlatestdb.log
*.bak
*/deploy.sh.log
*/Logs/*.txt
SDLCIntegration.Web.Internal.Controller/Database/*.db
SDLCIntegration.Web.Internal.Scanner/Database/*.db
SDLCIntegration.Web.Internal.Scanner/DownloadTemp/*nohup.out
nohup.out
*.mdf
*.ldf
*/getDBFiles.log
*/getDBFiles.sh
*/*.tgz

**/DownloadTemp/*